MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB_NAME=disaster_alert_rescue

ADMIN_NAME=Admin Control
ADMIN_EMAIL=admin@rescue.local
ADMIN_PASSWORD=Admin@123

CITIZEN_NAME=Citizen User
CITIZEN_EMAIL=citizen@rescue.local
CITIZEN_PASSWORD=Citizen@123

RESCUE_CENTER_NAME=Rescue Center
RESCUE_CENTER_EMAIL=center@rescue.local
RESCUE_CENTER_PASSWORD=Center@123

RESCUE_TEAM_NAME=Rescue Team Alpha
RESCUE_TEAM_EMAIL=team@rescue.local
RESCUE_TEAM_PASSWORD=Team@123